body{
    background-image: url(hatter.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
div{
    padding: 10px;
    margin: 10px;
}
.hiresburger{ 
    width: 300px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}
.cim{
    font-size: 40px;
    font-family: "Trirong", serif;
}
nav{
    color: gray;
    margin: 40px;
    font-weight: bolder;
    font-size: 25px;
}
nav ul{
    list-style-type: none;
}
nav li{
    float: left;
    padding: 10px;
    margin-left: 10px;
}
nav a{
    text-decoration: none;
}
.burger{
    width: 600px;
    height: 400px;
}
h4, p{
    font-size: 20px;
    text-shadow: 2px 1px white;
}
button{
    font-size: 20px;
    background-color: silver;
}